.choice-chip {
    cursor: pointer;
    min-width: 120px;
    padding: 8px 10px;
    border: 2px solid #4D5B9E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    text-align: center;
}

.active, .choice-chip:hover {
    background-color: #D6DBF5;
}

.correct, .check {
    border: 2px solid greenyellow;
}

.check {
    background-color: rgb(52, 218, 66);
}

.incorrect {
    border: 2px solid crimson
}