.choice-chip {
    cursor: pointer;
    min-width: 90px;
    padding: 8px 10px;
    border: 2px solid #4D5B9E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.choice-chip:hover {
    background-color: #D6DBF5;
}