.choice-chip {
    min-width: 70px;
    padding: 8px 10px;
    border: 2px solid #4D5B9E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    text-align: center;
    font-size: 0.9rem;
}

.active, .with-hover:hover {
    background-color: #D6DBF5;
}

.without-hover {
    border: 2px solid #ccceda;
    color: #ccceda;   
}

.correct, .check {
    border: 2px solid greenyellow;
}

.check {
    color: #293264;
    background-color: #94D7A2;
}

.incorrect {
    background-color: #F8BCBC;
    color: #293264;
    border: 2px solid crimson
}