* {
  margin: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
} 

body {
  margin: 0;
  color: #293264;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F7FB;
}

#loading-indicator {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}