#initial-view {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#initial-view > h1 {
    font-size: 2em;
    font-weight: 700;
}

#initial-view > p {
    font-size: 1em;
    margin-top: 10px;
}

/* form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.input-not-radio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

input[type=number], select {
    text-align: center;
    padding-block: 2px;
    font-size: 0.9em;
    width: 160px;
} 

#radio-difficulty {
    display: flex;
    gap: 5px;
}

form > button {
    cursor: pointer;
    min-height: 55px;
    min-width: 190px;
    width: 20%;
    background-color: #4D5B9E;
    color: #F5F7FB;
    font-size: 1em;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    margin-top: 30px;
}
