#initial-view {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#initial-view > h1 {
    font-size: 2em;
    font-weight: 700;
}

#initial-view > p {
    font-size: 1em;
    margin-top: 10px;
}

#initial-view > button {
    cursor: pointer;
    min-height: 55px;
    min-width: 190px;
    width: 20%;
    background-color: #4D5B9E;
    color: #F5F7FB;
    font-size: 1em;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    margin-top: 30px;
}